.chart {
  width: 100%;
  height: 280px;
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: 2px 2px 3px black;
}

.rangeButtons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
}

.rangeBtn {
  justify-self: center;
  width: 80px;
  height: 35px;
}

.active {
  background: var(--card-hover);
}

.briefInfo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
  }
  p {
    margin: 0;
    font-size: 18px;
  }
}

.entriesLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  text-decoration: underline;
  cursor: pointer;
}
