.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.historyElement {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 18px;
  padding: 16px;
  width: 100%;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover {
    background-color: var(--card-hover);
  }
}

.routinesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.routinesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  column-gap: 35px;
  row-gap: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.routineElement {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 18px;
  padding: 8px;
  align-items: center;
  gap: 10px;
  width: 140px;
  height: 60px;
  font-size: 16px;
}
