.input {
  width: 210px;
  margin-bottom: 15px;
  text-align: center;
}

.select {
  width: 180px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  align-self: flex-start;
}

p {
  margin-top: 0;
}

.saveBtn {
  background-color: var(--accent);
}

.addType {
  input {
    width: 130px;
  }
}

.addTypeBtn,
.cancelBtn {
  width: 35px;
  height: 35px;
  margin: 0 2px;
  font-size: 12px;
  padding: 5px;
}

.addTypeBtn {
  background-color: var(--accent);
}

.cancelBtn {
  background-color: var(--danger);
}

.menu {
  position: relative;
  top: -32px;
}
