.navBtnContainer {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  box-sizing: content-box;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.navButton {
  background-color: var(--card);
  color: var(--text);
  height: 70px;
  border-left: 1px solid var(--border);
  font-size: 16px;
  width: 100%;
  border-radius: 0;
}

.home {
  border: none;
}