.profileContainer {
  width: 100%;
}

.sections {
  display: flex;
  flex-direction: column;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 20px 0;
}

.title {
  text-align: center;
}

.inputContainer {
  margin: 10px;
}

input,
select {
  width: 70%;
  height: 35px;
  font-size: 16px;
  background-color: var(--card);
  color: #f8fafc;
  border-radius: 8px;
  padding: 5px;
}

.inputLabel {
  font-size: 18px;
  margin: 10px 0;
}

.active {
  background: var(--accent);
  color: var(--button-text);
}

.activeTheme {
  background-color: var(--card-hover);
}

.toggle {
  background-color: var(--card);
  button {
    width: 90px;
    height: 45px;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 0;

    &:first-child {
      border-radius: 8px 0 0 8px;
    }
    &:last-child {
      border-radius: 0 8px 8px 0;
    }
    transition:
      background 320ms,
      transform 320ms;
  }

  border: 1px solid var(--border);
  border-radius: 8px;
  width: fit-content;
}
