.modalContent {
  background-color: var(--bg);
  border: 1px solid var(--border);
  padding: 25px 20px;
  border-radius: 8px;
  min-width: 330px;
  max-width: 350px;
  max-height: 95dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;

  .inputContainer:nth-last-child(2) {
    margin-bottom: 30px;
  }
}

.inputContainer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-of-type {
    margin: 10px 0;
  }
}

.heading {
  margin: 0;
}

.message {
  margin: 0;
}

.input {
  width: 70%;
  height: 35px;
  font-size: 16px;
  background-color: var(--card);
  color: var(--text);
  border-radius: 8px;
  padding: 5px;
}

.langaugeSelect {
  width: fit-content;
}

.inputLabel {
  font-size: 18px;
  margin: 10px 0;
}

.continueBtn {
  background-color: var(--accent);
  color: var(--button-text);
}
