.progressContainer {
  width: 100%;
}

.progressContainer :global(.toggle) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.progressContainer :global(.toggle) button {
  width: 100%;
}

.header {
  margin-bottom: 20px;
}

.title {
  text-align: center;
  margin-top: 0;
}

.description {
  font-size: 18px;
  text-align: center;
}
