.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 16px;
}

.title {
  font-size: 30px;
  margin-bottom: 16px;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 12px;
  font-weight: normal;
}

.sessionBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logIn,
.signUp {
  margin-top: 28px;
  padding: 14px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  width: 110px;
  height: 50px;
}

.signUp {
  background-color: var(--button-bg);

  &:hover {
    background-color: var(--button-hover);
  }
}

.logIn {
  background-color: var(--card);

  &:hover {
    background-color: var(--card-hover);
  }
}