@use "./variables";
@use "./global";

* {
  box-sizing: border-box;
}
.appShell {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.container {
  width: 100%;
}

.footer {
  margin-top: auto;
}